<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2291/Service.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService" contract="MyCallbackServiceReference.IService"
                name="WSDualHttpBinding_IService">
                <identity>
                    <userPrincipalName value="mironez-pc\mironez" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>